@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(210, 20%, 98%);
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
